  <main class="home">
    ${require('./hero-banner.html')}

     <!-- <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
                 <img src="../images/red-phone-icon-2.png">

                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section> -->

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Record it here. Watch it there.</h3>
                    <p>Set that recording when you think of it, no matter what room you’re in. Then watch it in in every room with a TV. Your whole DVR life is digital—the latest technology for the experience you want. Record, watch, rewind, fast forward. Your choice!</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                     <img class=" img-responsive text-center m-auto " src="../images/home-dvr.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="../images/home-dvr-2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Finally, a DVR big enough to handle your playlist</h3>
                    <p>When it comes down to it, how can you possibly leave any favorite off your list? No worries. This DVR can store more than 300 hours of the shows, movies and football games you can’t miss.</p>
                </div>
            </div>
        </div>

    </section>

    <!-- <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer> -->

</main>
