<main class="home">
  ${require('./hero-banner.html')}

  <nav class="navbar navbar-default navbar-frontier" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#updates">Harvey Updates</a></li>
          <li><a href="#helpful">Helpful links</a></li>
          <li><a href="#phones">Phone Numbers</a></li>
          <li><a href="#map">Map Shelter</a></li>
          <li><a href="#social">Social Media</a></li>
          <li><a href="#agencies">Federal Agencies</a></li>
          <li><a href="#donate">Donate</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <section  class="res-iconbox-panel iconbox-panel content post vertical-align">
        <div class="container icon-boxes">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-4 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="tel:18009218101">
                            <span class="fa-stack fa-colorwhite">
                                <i class="fa fa-phone custom-icon icon-increase-padding-3 " style="background-color:#d9272d"></i>
                            </span>
                        </a>
                    </div>
                    <div class="title">
                        Residential: <br>
                        <a href="tel:18009218101" style="text-decoration: none; cursor: default;">1.800.921.8101</a>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 contactbar">
                <div class="icon-box well text-center icon-box-phone-link">
                    <div class="complex-wrapper icon-wrapper">
                        <a href="tel:1.800.921.8103">
                            <span class="fa-stack fa-colorwhite">
                                <i class="fa fa-phone custom-icon icon-increase-padding-3 " style="background-color:#d9272d"></i>
                            </span>
                        </a>
                    </div>
                    <div class="title">
                        Español: <br>
                        <a href="tel:1.800.921.8103" style="text-decoration: none; cursor: default;">1.800.921.8103</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
                <img src="../images/red-phone-icon-2.png">

                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section> -->

    <section class="l-bg g-map">
        <h3 id="map">Google Maps’ shelter updates</h3>
        <iframe width="400" height="400" src="https://google.org/crisismap/google.com/2017-tubbs-fire?hl=es-MX&llbox=39.494%2C36.221%2C-114.702%2C-124.134&t=TERRAIN&layers=2%2C16%2C17%2C1340721553875%2C5%2C10%2C11%2C13%2C12&embedded=true" style="border: 1px solid #ccc"></iframe>

    </section>

    <section class=" d-bg social-media bg-section">
      <div class="container">
          <h3 id="social">Follow us on Social Media for updates</h3>
          <div class="row">
            <div class="col-sm-12 col-md-4 clearfix mb-20">
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Twitter" href="https://twitter.com/FrontierCorp" class="smi smi-twitter" target="_blank"><i class="fci-social-twitter" title="Twitter" id="ecomm-rv-footer-social-icon-Twitter"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Facebook" href="https://www.facebook.com/FrontierCorp" class="smi smi-facebook" target="_blank"><i class="fci-social-facebook" title="Facebook" id="ecomm-rv-footer-social-icon-Facebook"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Linkedin" href="https://www.linkedin.com/company/frontier-communications" class="smi smi-linkedin" target="_blank"><i class="fci-social-linkedin" title="Linkedin" id="ecomm-rv-footer-social-icon-Linkedin"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-YouTube" href="https://www.youtube.com/user/FrontierCorp " class="smi smi-youtube" target="_blank"><i class="fci-social-youtube" title="YouTube" id="ecomm-rv-footer-social-icon-YouTube"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Google+" href="https://plus.google.com/+FrontierCorp/posts" class="smi smi-googleplus" target="_blank"><i class="fci-social-googleplus" title="Google+" id="ecomm-rv-footer-social-icon-Google+"></i></a>
              </span>
            </div>
              <div class="col-sm-12 col-md-8">
                <div class="social-container">
                  <a class="twitter-timeline" href="https://twitter.com/askfrontier">Tweets by askfrontier</a>
                </div>

              </div>
          </div>
      </div>

    </section>

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Come Over to the Light Side</h3>
                    <p>It&rsquo;s important to have connections you can count on. Whether it&rsquo;s watching the game of the week, shopping online, streaming your favorite series, or gaming with friends, FiOS<sup>&reg;</sup> by Frontier is the best equipped
                        network to handle all the devices in your home at the same time.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                    <!-- <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src='//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5355267796001' allowfullscreen frameborder=0></iframe>
                      </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Fiber Optics Changes Your Life Online</h3>
                    <p>Play, connect, post, download, stream, upload, watch. The FiOS<sup>&reg;</sup> 100% fiber-optic network withstands even the worst weather. And gives you bandwidth you need to drive all your devices. Together. All at the same time.</p>
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Upload as Fast as You Download</h3>
                    <p>Cable only talks about download internet speeds. But the Internet is a 2-way street, and you need fast upload speeds for everyday activities like sharing pictures and videos. So if your Internet is slow, you need fast internet speeds
                        from FiOS<sup>&reg;</sup>.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="red-bar"></div>

    <section class="bg-section voice">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Tell us what you want</h3>
                    <p>Do you talk to your Amazon dot, Echo or tap? Now you can ask Alexa to change your channels or search your guide. She’ll listen…and act.</p>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer>

</main>
